package services

import (
	"github.com/gin-gonic/gin"
)

func {{.ApiName}}SetMiddleware() []gin.HandlerFunc {
	return []gin.HandlerFunc{}
}

// {{.ApiName}}Service godoc TODO
//
//	@Summary		{{.ApiName}}
//	@Description	{{.Desc}}
//	@Tags			{{.Tag}}
//	@Router			{{.Path}} [{{.Method}}]
//	@Accept			json
//	@Produce		json
//	@Param			req		body		{{.ApiName}}ServiceReq	true	"请求体"
//	@Success		200		{object}	{{.ApiName}}ServiceResp
func {{.ApiName}}Service(c *gin.Context, req *{{.ApiName}}ServiceReq) (resp *{{.ApiName}}ServiceResp, err error) {
    resp = new({{.ApiName}}ServiceResp)
	return
}
